html{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color:white;
}
body{
  line-height:1.4rem;
}
div{
  display:block;
}
/*Header Section*/
header{
  display:block;
  background:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}
nav{
  padding:1rem 0;
  background-color:cadetblue;
  color:white;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
nav div{
  display:flex;
  align-items:center;
}
nav img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.container{
  max-width: 960px;
  margin: auto;
}
ul{
  display: block;
  margin-right: 1rem;
}
ul li{
  display: inline;
  padding: 0 1rem;
}
.truncated-menu{
  display: none;
}
/*Main Banner Section*/
.flex{
  display: flex;
}
header .flex{
  justify-content: flex-end;
}
.main-banner{
  background-color:white;
  padding: 0.75rem 5rem;
  display:inline-block;
  margin-top: 10rem;
  margin-right:-2rem;
  line-height:2.4rem;
}
h1{
  font-size:2rem;
  font-weight:bold;
  margin: .67em 0;
}
/*Supporting and Service Section*/
.supporting{
  display:flex;
  justify-content: center;
}
.service{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}
.service img.icon{
  width:3.5rem;
  margin-bottom: 1rem;
}
/*Info Section*/
.info{
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}
.title{
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}
.info p{
  padding: 1rem 0;
}
